* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(to right bottom, #e1b382, #c89666);
} 
input:focus,
button:focus {
    outline: none;
}